
/***********************************
             NAVIGATION
************************************/
nav{
    text-align: center;
}
nav ul {
    list-style: none;
    background-color: black;   
    margin-top: 0;
    padding: 1.2em;  
    width: 100%;
}

nav li {
    display: inline-block;
    margin: 0 2em 0 2em;
}

nav a{
   text-decoration: none; 
   font-family: 'Quicksand', sans-serif;
   color:  white; 
   font-size: 2em;
}

@media screen and (max-width: 768px) {
    #menu {
		width:15%;
        display: block;
		background:black;
		font-size:1.35em;
        color: white;
        float: left;
        height: 1.5em;
       
	} 

    #mobileHeader {
       float: right;
       display: block; 
       text-align: center;
       background: black;
       color:  red;
       width:  85%;
       height: 1.0em;
       font-size: 2.0em;
     
    }   
       
	#nav.js {
		display: none;
	}
	ul {
		width:100%;
		list-style:none;
	}
	li {
		width:100%;
		border-right:none;
	}
    header {
        clear: both;
    }
}

@media screen and (min-width: 768px) {
	#menu {
		display: none;
	}
    
    #mobileHeader {
        display: none;
    }
}


/***********************************
             HEADER
************************************/


/***********************************
             CONTENT
************************************/




/***********************************
             FOOTER
************************************/