
/***********************************
             NAVIGATION
************************************/
nav{
    text-align: center;
    box-shadow: 0 5px 5px #888888;
}
nav ul {
    list-style: none;
    background-color: black;   
    margin-top: 0;
    padding: 1.2em;  
    width: 100%;
}

nav li {
    display: inline-block;
    margin: 0 2em 0 2em;
}

nav a{
   text-decoration: none; 
   font-family: 'Quicksand', sans-serif;
   color:  white; 
   font-size: 2em;
}



@media screen and (max-width: 768px) {
    #menu {
		width:15%;
        display: block;
		background:black;
		font-size:1.35em;
        color: white;
        float: left;
        height: 1.5em;
            
	} 

    #mobileHeader {
       float: right;
       display: block; 
       text-align: center;
       background: black;
       color:  red;
       width:  85%;
       height: 1.0em;
       font-size: 2.0em;
     
    }   
       
	#nav.js {
		display: none;
	}
	ul {
		width:100%;
		list-style:none;
	}
	li {
		width:100%;
		border-right:none;
	}
    header {
        clear: both;
    }
}

@media screen and (min-width: 768px) {
	#menu {
		display: none;
 
	}
    
    #mobileHeader {
        display: none;
    }
}


/***********************************
             HEADER
************************************/


/***********************************
             CONTENT
************************************/
section {
    margin: 50px 15% 0 15%;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

/***********************************
             ABOUT
************************************/

    #title {
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        font-size: 2em;
        margin: 2em 0 1.5em 0;
}

    .subtitle {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-weight: bold;
        text-align: center;
}

   .interesting {
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        font-style: italic;
        margin-bottom: 3em;
}


/***********************************
             PORTFOLIO
************************************/

#sitePreview li {
    list-style: none;
}






#overlay {
  background:rgba(0,0,0,0.2);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img{
    height: 200px;
    width: 300px;
    margin: 10% 0 0 0;
    border: 3px solid grey;
    border-radius: 5%;
}


/***********************************
             FOOTER
************************************/